.t-content {
  background: #FFF7F4;
}

.t-detail-info {
  position: relative;
  padding-left: 38px;
  padding-bottom: 35px;
  margin: 0 13px 0 16px;
  border-bottom: 1px solid #A7A7A7;
}

.t-detail-info .t-logo {
  position: absolute;
  right: 35px;
  top: 83px;
  width: 150px;
  display: block;
}

.t-detail-info h1 {
  margin: 0;
  padding: 43px 0 29px 0;
  font-size: 32px;
  font-weight: normal;
  color: #2C2C2C;
}

.t-detail-info p {
  font-size: 18px;
  font-weight: 400;
  color: #2C2C2C;
}

.t-detail-info .t-tag {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  margin-top: 23px;
}

.t-detail-info .t-tag::before {
  content: '';
  display: block;
  width: 29px;
  height: 17px;
  background: url('../images/detail/vr.png');
  background-size: cover;
  margin-right: 5px;
}

.t-reserve {
  margin: 22px 13px 0 16px;
  padding: 0 33px 41px 41px;
  border-bottom: 1px solid #A7A7A7;
}

.t-reserve .t-reserve-now {
  width: 188px;
  height: 57px;
  line-height: 57px;
  background: #DFA25B;
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  margin-top: 4px;
  cursor: pointer;
}

.t-reserve-header h1 {
  font-size: 24px;
  font-weight: 500;
  color: #2C2C2C;
  margin: 0;
}

.t-reserve-header p {
  font-size: 30px;
  font-weight: bold;
  color: #BEAB89;
  line-height: 30px;
  margin: 16px 0 23px 0;
}

.t-info {
  margin: 59px 13px 0 40px;
  padding: 0 34px 78px 34px;
  border-bottom: 1px solid #A7A7A7;
}

.t-info h1 {
  font-size: 24px;
  font-weight: 500;
  color: #2C2C2C;
  margin: 59px 0 42px 0;
}

.t-info li {
  margin-top: 30px;
}

.t-info li p {
  font-size: 16px;
  font-weight: 400;
  color: #2C2C2C;
  line-height: 26px;
}

.t-info li .t-info-title {
  height: 27px;
  line-height: 27px;
  padding: 0 13px;
  border: 1px solid #BEAB89;
  border-radius: 14px;
  display: inline-block;
  margin-bottom: 13px;
}

.t-info li:first-child {
  margin-top: 0;
}
