.t-evaluate {
font-size: 16px;
color: #282828;
margin-top: 10px;
padding-left: 23px;
}

.t-evaluate h1 {
  font-size: 24px;
  font-weight: 500;
  color: #2C2C2C;
}
.t-evaluate-self-all{
  font-size: 12px;
  color: #282828;
}

.t-evaluate-total {
  /* height: 30px;
  line-height: 30px; */
  margin-top: 10px;
}

.t-evaluate-total span.t-text {
  font-size: 20px;
  font-weight: 400;
  color: #2C2C2C;
  margin-right: 18px;
}

.t-evaluate-star {
  width: 9px;
  height: 9px;
  background: url('../images/detail/star.png');
  background-size: cover;
}

.t-evaluate-star-half {
  background: url('../images/detail/star-half.png');
  background-size: cover;
}

.t-evaluate li {
  margin-top: 15px;
  position: relative;
  padding-left: 25px;
}

.t-evaluate li .t-evaluate-pic {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

.t-evaluate li .t-evaluate-name {
  font-size: 10px;
  font-weight: 400;
  color: #656565;
}

.t-evaluate-level {
  margin-bottom: 10px;
}

.t-evaluate li .t-gray {
  font-size: 10px;
  font-weight: 400;
  color: #656565;
  line-height: 15px;
}

.t-evaluate-self .t-gray {
  margin-right: 5px;
}

.t-evaluate-self .t-evaluate-star {
  width: 9px;
  height: 9px;
}

.t-width {
  width: 155px;
}
.__padding{
  padding-right: 10px;
}
