/* 头部 */

.aside-active{
  z-index: 10000 !important;
}
.aside{
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  box-sizing: content-box;
  width: 70%;
  min-height: 100%;
  background: #333;
  transform: translate3d(-300px, 0px, 0px);
}
.g-fullscreen{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}
.g-fullscreen .canvas-backdrop{
  position: absolute;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    transition: background 350ms cubic-bezier(.165,.84,.44,1);
    background: rgba(0,0,0,.4);
    box-shadow: -4px 0 4px rgb(0 0 0 / 50%), 4px 0 4px rgb(0 0 0 / 50%);
    -webkit-tap-highlight-color: transparent;
}
.g-transitioning{
  transition: transform 350ms cubic-bezier(.165,.84,.44,1);
}
.g-active{
  overflow: hidden;
  height: 100%;
}

.header {
  width: 100%;
  background-color: #F8CEC0 !important;
  height: 44px;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.header-icon {
  width: 12px;
}

.header-logo {
  width: 72px;
  margin: 0 auto;
}
.header-tab-item{
  color: #fff;
  font-size: 12px;
  display: block;
  margin-top: 14px;
  margin-left: 12px;

}
.mui-tab-item,.mui-tab-item img{
  height: 30px !important;
}

.mui-off-canvas-left{
  background-color: #333333 !important;
  width: 45% !important;
}
.font{
font-size: 6px;
font-weight: 400;
color: #666666;
}
.bottom-info{
  justify-content: center;
}
.bottom-info img{
  width: 8px;
  margin-right: 4px;
  vertical-align:text-bottom;
}
.tel{
  margin-left: 10px;
}
.footer{
  padding-bottom: 50px;
  padding-top: 20px;
}