html,body{
	height: 100%;
}

video{
	display:block;
	object-fit: fill;
	outline: none;
}

.t-index-top-banner{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99
}

@media only screen and (max-width: 1366px){
	.scale{
		transform:scale(0.8);  
		-webkit-transform:scale(0.8);
		-moz-transform:scale(0.8);
		-ms-transform:scale(0.8);
		-o-transform:scale(0.8);
	}
}



.g-flex-y{
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column; 
	flex-direction:column;
}






.t-normal-img{
	/*width: 100%;*/
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
}



#bannerSwiper .swiper-button-prev,
#bannerSwiper .swiper-button-next{
	background-image: none!important;
	width: 54px;
	height: 171px;
	background: rgba(255,255,255,0.6);
	margin-top: -150px!important;
}
.t-index-banner-prev{
	left: 143px!important;
}
.t-index-banner-next{
	right: 143px!important;
}


.t-index-top{
	width: 100%;
	height: calc(100% - 125px);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.swiper-container{
	width: 100%;
	height: 100%;
}


.t-index-content-bg{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	/*opacity: 0.8;*/
	position: absolute;
	z-index: -1;
/* 	background-image: url(../images/index/index-content-big-img.jpg);
	background-position: center;
	background-size: cover; */
	-webkit-filter: blur(6px);
	-moz-filter: blur(6px);
	-ms-filter: blur(6px);
	-o-filter: blur(6px);
	filter: blur(6px);
}


.t-index-content-big-img-box{
	width: 880px;
	height: 495px;
	margin-right: 24px;
	font-size: 0;
  	background:none;
  	background-color:none;
}
.t-index-content-news-box{
	width: 254px;
	height: 438px;
	background: #767A7E;
	padding: 33px 21px 24px;
}
.t-index-news{
	height: 410px;
	overflow: hidden;
}
.icon-up{
	display: none
}
.active .icon-down{
	display: none;
}
.active .icon-up{
	display: block;
}
.t-index-content-news-title{
	font-size: 36px;
	text-align: center;
	color: #fff
}
.t-index-content-news-list{
	margin-top: 30px;
	border-bottom: 1px solid #fff;
}
.t-index-content-news-info{
	width: 230px;
	overflow:hidden; 
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size: 20px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 45px;
}
.t-index-content-news-icon{
	width: 14px;
	height: 7px;
	margin-left: 9px;
}
.t-index-content-news-list.active .t-index-content-news-hide{
	display: block;
}
.t-index-content-news-hide{
	width: 256px;
	height: 143px;
	margin-top: 40px;
	margin-bottom: 26px;
	display: none
}
#newSwiper .swiper-slide{
	height: auto!important;
}


.t-index-content-swiper{
	margin-top: 32px;
	width: 1200px;
	position: relative;
}
.t-index-brand-list{
	width: 282px;
	border-bottom: 1px solid #84837E;
	display: block;
	color: inherit;
	font-size: 16px;
	color: #000;
}
.t-index-brand-box{
	width: 282px;
	height: 190px;
	background: #fff;
	overflow: hidden;
}
.t-index-brand-title{
	font-size: 16px;
	line-height: 56px;
	text-align: center;
	overflow:hidden; 
	text-overflow:ellipsis;
	white-space:nowrap;
}
.swiper-button-next.t-index-brand-next,
.swiper-button-prev.t-index-brand-prev{
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.6);
	text-align: center;
	top: 100px;
}
.swiper-button-prev.t-index-brand-prev{
	left: -68px;
}
.swiper-button-next.t-index-brand-next{
	right: -68px
}

.swiper-slide.t-index-pro-box{
	background: #EDD3CE;
	background: -webkit-radial-gradient(#EDD3CE, #f1bcb2, #EDD3CE); /* Safari 5.1 - 6.0 */
	background: -o-radial-gradient(#EDD3CE, #f1bcb2, #EDD3CE); /* Opera 11.6 - 12.0 */
	background: -moz-radial-gradient(#EDD3CE, #f1bcb2, #EDD3CE); /* Firefox 3.6 - 15 */
	background: radial-gradient(#f1bcb2 32%, #EDD3CE 55%); /* 标准的语法 */
}
.t-index-pro-box{
	width: 100%;
	height: 100%;
}
.t-index-pro-list li{
	width: 300px;
	height: 150px;
	background: #fff;
	font-size: 24px;
	margin-bottom: 2px
}
.t-index-pro-list li:nth-last-child(1){
	margin-bottom: 0
}
.t-index-pro-list li.active{
	background: #f3bcb1;
}
.t-index-pro-img{
	width: 900px;
	height: 606px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255,255,255,0.2);
}
.t-index-footer-slide{
	display: block;
	background: #F8F8F8;
	height: auto!important;
}
.t-index-footer-box{
	width: 100%;
	padding: 80px 0 68px;
}
.t-index-footer-top{
	border: 1px solid #000;
	border-radius: 25px;
	padding: 10px 0;
}
.t-index-footer-top a{
	color: #000;
	font-size: 19px;
}
.t-index-footer-pro-list{
	font-size: 19px;
	height: 19px;
	border-right: 1px solid #000;
	padding: 0 50px;
}
.t-index-footer-pro-list:nth-last-child(1){
	border: none;
}
.t-index-footer-content{
	font-size: 19px;
	margin-top: 60px;
}
.t-index-footer-content-contact{
	margin-right: 78px
}
.t-index-footer-content-contact:nth-last-child(1){
	margin: 0
}
.t-index-footer-content-icon{
	width: 28px;
	height: 28px;
	margin-right: 14px
}
.t-index-footer-bottom{
	width: 1200px;
	padding: 30px 0;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 45px;
}
.t-index-footer-logo{
	width: 106px;
	height: 37px;
}
.t-index-footer-code{
	width: 111px;
	height: 111px;
	margin-left: 20px;
}
.t-index-footer-info{
	font-size: 16px;
	color: #624D40;
	margin: 0 40px;
	line-height: 25px
}

.ie10 {
	opacity: 0.3
}

@media screen and(-ms-high-contrast:active),(-ms-high-contrast:none) {
	.t-index-content-bg{
		opacity: 0.3
	}
}
.box{
	color:#333
}