a {
	text-decoration: none;
}

body {
	font-family: "SourceHanSansCN", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.swiper-pagination-bullet{
  /* bottom: 10px;
  left: 0;
  right: 0; */

background: #FFFFFF !important;
opacity: 1 !important;
}
.swiper-pagination-bullet-active{
  width: 20px !important;
height: 8px !important;
background: #FFFFFF;
border-radius: 4px !important;
}
/* .swiper-paginatio{
  display: flex;
    align-items: center;
    justify-content: center;
} */
.block-img {
	display: block;
}

.inlineblock-img {
	display: inline-block;
}


.g-banner {
	width: 100%;
	position: relative;
	display: block;
}
.g-banner a{
  display: block;
}

.g-banner img {
	width: 100%
}

.g-main {
	width: 100%;
	background: #FFF7F4;
	padding: 90px 0
}


/* 老师相关 */
.g-search-box {
	width: 100%;
	height: 50px;
	background: #F8CEC0;
	padding: 20px 0;
}

.g-teachers {
	width: 100%;
	max-height: 540px;
	min-height: 230px;
	overflow-y: auto;
	background: #fff;
}

.g-teachers-item {
	padding: 5px 20px 5px 5px;
	display: flex;
  overflow: hidden;
  background: #fff;
  border-radius: 3px;
  margin: 0 12px;
  margin-top: 5px;
}

.g-teacher-pic {
  float: left;
	width: 90px;
	height: 90px;
	border-radius: 100%;
	overflow: hidden;
	margin-right: 10px;
  flex-shrink:0;
}

.line{
  width: 100%;
height: 1px;
background: #DDDDDD;
}

.g-teacher-name {
font-size: 14px;
font-weight: 400;
color: #282828;
}

.g-teacher-des {
	padding: 0 5px;
	height: 16px;
	line-height: 16px;
background: #DFA25A;
	border-radius: 20px;
	color: #fff;
	font-size: 9px;
	margin-left: 5px;
}

.g-label-box {
  margin-top: 5px;
}

.g-label {
	padding: 0 5px;
	border: 1px solid #989898;
	margin-right: 7px;
  font-size: 9px;
  font-weight: 400;
  color: #656565;
  line-height: 15px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.g-teacher-top {
	margin-bottom: 10px;
}

.teacher-info-con {
	margin-right: 10px;
	font-size: 12px;
  line-height: 24px;
	color: #282828;
}

.teacher-info-con img {
	margin-right: 5px;
  width: 13px;
}

.g-teacher-center {
}

.g-teacher-bottom {
  border-bottom: 1px solid #ddd;
}

.certificate-left {
  font-size: 9px;
	color: #656565;
  margin-right: 0;
  flex-shrink: 0;

}

.certificate-right {
	font-size: 9px;
	color: #656565;
}

.certificate-right span {
	margin: 0 2px
}

.appointment-btn {
	width: 100%;
	height: 80px;
	line-height: 80px;
	background: #CEAA73;
	color: #fff;
	font-size: 36px;
	text-align: center;
	letter-spacing: 8px;
	cursor: pointer;
	display: block;
}
.choose{
  margin: 10px 12px 10px 12px;
  justify-content: space-between;
}
.choose-item{
  position: relative;
height: 25px;
line-height: 25px;
border: 1px solid #989898;
border-radius: 3px;
color: #989898;
font-size: 12px;
width: 32%;
text-indent: 5px;
}
.choose-item::after{
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: url('../images/arrow.png');
  background-size: 10px;
  right: 5px;
}
/* 月子会所 */

.yuezi_club .choose-item{
  width: 49%;
}
.yuezi_club_item{
  display: block;
  overflow: hidden;
  background-color: #fff;
  margin: 0 12px;
border-radius: 3px;
padding: 5px 20px 5px 9px;
margin-bottom: 10px;
}

.yuezi_club_item .g-left h1{
  background: url('../images/vr.png') no-repeat;
  background-position: left center;
  background-size: 15px;
  padding: 9px 0;
  padding-left:20px ;
  font-size: 14px;
  font-weight: 400;
  color: #282828;
  border-bottom: 1px solid #ddd;
}
.yuezi_club_item p{
font-size: 12px;
font-weight: 400;
color: #282828;
margin-top: 7px;
}
.yuezi_club_item .yuezi_club_item-tel,.yuezi_club_item-place{
font-size: 10px;
font-weight: 400;
color: #989898;
line-height: 14px;
}
.yuezi_club_item .g-right{
  width: 90px;
height: 90px;
border-radius: 3px;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
}
.yuezi_club_item .g-right img{
  width: 100%;
}
