.t-content {
  background: #fff;
  margin: 25px 12px 0 12px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dddd;
  border-radius: 6px;
}

.g-center {
  position: relative;
  box-sizing: border-box;
  border-radius: 3px;
}


 .t-header-img {
  border-radius: 50%;
  overflow: hidden;
  width: 90px;
  height: 90px;
  flex-shrink: 0;
margin-right: 10px;
}


.t-header-img img {
  width: 100%;
  display: block;
}

/* .t-position-left .t-header-img::after {
  content: '';
  display: block;
  width: 207px;
  height: 207px;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 2px #F8CEC0 solid;
  border-left: 2px #F8CEC0 solid;
  border-radius: 50%;
  transform: rotate(-45deg);
} */

.t-position-left::after {
  content: '';
  display: block;
  height: 100%;
  width: 2px;
  background: #F8CEC0;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}



.t-base-info {
  border-bottom: 1px solid #A7A7A7;
  padding: 5px;
}


.t-base-info-name {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: #282828;
  margin-bottom: 10px;
}

.t-base-info-name span {
  display: block;
  font-size: 9px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 12px;
  height: 12px;
  background: #DFA25A;
  border-radius: 11px;
  padding: 0 5px;
  margin-left: 5px;
}

.t-base-info-list .item {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  color: #282828;
  line-height: 13px;
  overflow: hidden;
  margin-right: 10px;
}

.t-base-info-list .item::before {
  content: '';
  display: block;
  float: left;
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.t-base-info-list .age::before {
  background: url('../images/maternity-matron-info/age.png');
  background-size: contain;
  background-position: center center;
}

.t-base-info-list .experience::before {
  background: url('../images/maternity-matron-info/experience.png');
  background-size: contain;
  background-position: center center;
}

.t-base-info-list .address::before {
  background: url('../images/maternity-matron-info/address.png');
  background-size: contain;
  background-position: center center;
}

.t-base-info-certificate {
  position: relative;
  margin-top: 5px;
  overflow: hidden;
  padding-left: 40px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;

}

.t-base-info-certificate span {
  position: absolute;
  left: 18px;
  font-size: 9px;
  font-weight: normal;
  color: #656565;
  line-height: 14px;
}

.t-base-info-certificate-item {
  font-size: 9px;
  font-weight: normal;
  color: #656565;
  line-height: 14px;
  position: relative;
  display: block;
  max-width: 140px;
  float: left;
  padding: 0 3px;

}
.t-base-info-certificate-item:last-child::after{
  display: none;
}

.t-base-info-certificate-item:after {
  content: '';
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -4px;
  width: 1px;
  height: 8px;
  background: #656565;
}
.t-left{
  padding-bottom: 5px;
}
.t-tag ul{
  overflow: hidden;
  margin-top: 5px;
}
.t-tag li{
  float: left;
font-size: 9px;
font-weight: 400;
color: #656565;
line-height: 15px;
padding: 0 5px;
border: 1px solid #989898;
border-radius: 3px;
margin-right: 7px;

}
.t-tag li:last-child{
  margin-right: 0;
}
.t-base-info-certificate::before {
  content: '';
  width: 14px;
  left: 0;
  height: 14px;
  display: block;
  position: absolute;
  background: url('../images/maternity-matron-info/certificate.png');
  background-size: 14px;
  background-position: center center;
  margin-right: 4px;
}

/* .t-base-info .t-right {
  width: 385px;
} */

.t-base-info .t-right ul {
  width: 210px;
  margin: 0 auto;
}

.t-base-info .t-right li {
  float: left;
  width: 100px;
  margin-bottom: 15px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #A7A7A7;
  border-radius: 15px;
}

.t-base-info .t-right li:nth-child(odd) {
  margin-right: 3px;
}


.t-detail-info {
  border-bottom: 1px solid #A7A7A7;
  padding: 10px 5px;
}

.t-title {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  color: #282828;
  padding-left: 18px;
  margin-bottom: 10px;
}

.t-title::before {
  position: absolute;
  content: '';
  left: 0;
  display: block;
  width: 13px;
  height: 12px;
}

.t-detail-info .t-title::before {
  background: url('../images/maternity-matron-info/info.png') no-repeat;
  background-position: left center;
  background-size: 13px;
}

.t-detail-info {
  position: relative;
}
.table{
  margin-left: 23px;
  margin-right: 17px;
}

.t-detail-info table {
  overflow: hidden;
  width: 100%;
}

.t-detail-info .item-text {
  font-size: 9px;
  font-weight: 400;
color: #656565;
}
.certificate{
  padding-left: 23px;
  overflow: hidden;
}
.certificate span{
  display: block;
  float: left;
  line-height: 14px;
}

.t-detail-info .t-appointment {
	display: block;
  width: 100px;
  height: 30px;
  background: #DCBA95;
  border-radius: 13px;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.t-certificate {
  margin-top: 10px;
  border-bottom: 1px solid #A7A7A7;
  padding: 0 5px;
}

.t-certificate .t-title::before {
  background: url('../images/maternity-matron-info/certificate.png') no-repeat;
  background-position: left center;
  background-size: 14px;
}

.t-certificate-imgs {
  overflow: hidden;
  width: 100%;
  overflow-x: scroll;
  margin-top: 10px;
  padding-bottom:9px;
}

.t-certificate-imgs li {
  float: left;
background: #E0E0E0;
border-radius: 3px;
overflow: hidden;
margin: 0 5px;
}
.swiper-container{
  margin-left: 18px !important;
}
.swiper-slide{
  width: 120px;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
}
.swiper-slide img {
  width: 120px;
}


.t-certificate .t-no-icon::before {
  display: none;
}
.t-sub-title{
font-size: 12px;
font-weight: 400;
color: #282828;
margin: 10px 0;
margin-left: 18px;
}

.t-certificate .t-score {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
margin-left: 18px;
}

.t-certificate .t-normal-text {
  font-size: 9px;
  font-weight: normal;
  color: #282828;
}

.t-score-list {
  padding-left: 44px;
  width: 580px;
}

.t-score-list li {
  width: 180px;
  overflow: hidden;
  float: left;
  margin-right: 110px;
}
