body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a:hover{
	color:blue !important;
	transition:all 0.5s ease-in
}
.g-flex {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.g-flex-ac {
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  box-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
}

.g-flex-jc {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -moz-box-pack: center;
  -webkit--moz-box-pack: center;
  box-pack: center;

}

.g-center {
  width: 1200px;
  margin: 0 auto;
}

.g-white {
  background: #fff;
}

.g-overflow-hidden {
  overflow: hidden;
}

.g-left {
  float: left;
}

.g-right {
  float: right;
}

.g-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
